.landing__main {

    min-height: 100vh;
    //je veux que la hauteur minimale de
    // l'élément soit de 100% de l'écran
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('/assets/images/bg.jpg');
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
    background-color: rgba($color: #000000, $alpha: 0.7);



    figure {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        overflow: hidden;
    

        img {
            width: 100%;
            height: 100%;
        }
      
    }

}